#vidas {
    color: white;
    text-align: center;
    font-size: 3rem;
 }
 #nivel{
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 3rem;
 }
body{
    margin: 0;
    overflow: hidden;
    background: black;
    position: relative;
}
.container{
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    border: solid 1px white;
}
.game{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid 1px white;
    gap: 10px;
}
.card {
    height: 150px;
    width: 100px;
    border-radius: 0.3rem;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}
.card.active{
    transform: rotateY(180deg);
}

.card div {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    pointer-events: none;
    z-index: 8;
 }
.card .back {
    background-image: url("https://orig10.deviantart.net/69f2/f/2016/289/4/1/ygo_card_backing__final__by_icycatelf-dal6wsb.png");
    background-size: 100%;
}
.card .front {
    transform: rotateY( 180deg );
    color: black;
    font-size: 6rem;
    background-size: 100%;
}
